---
title: Efraim Gentil - Just for Fun
author: Efraim Gentil
description: global.blog-description
cover: false
layout: default-template
keywords: java,javascript,python,ruby,blog,programming,development,efraimgentil
---



{% for post in site.posts limit:5 %}
{% assign m = post.date | date: "%-m" | minus: 1 %}
{% assign day = post.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = post.date | date: "%Y" %}

<div class="post-preview">
  <a href="{{ post.url |  prepend: site.baseurl }}">
    <h2 class="post-title">
      {{ post.title }}
    </h2>
    <h3 class="post-subtitle">
      {{ post.description }}
    </h3>
  </a>
  <p class="post-meta">{% t global.posted  %}<a href="{{ "/about.html" |  prepend: site.baseurl }}"> {{post.author}}</a>
  {% if site.lang  == 'en'  %}
    on {% t month %} {{day}}, {{year}}
  {% else %}
    em {{day}} de {% t month %}, {{year}}
  {% endif %}
  </p>
</div>
<hr>
{% endfor %}
<!-- Pager -->
{% if site.posts.size > 5 %}
<ul class="pager">
  <li class="next">
    <a href="{{ "/posts" | prepend: site.baseurl }}">{% t global.older-posts %} &rarr;</a>
  </li>
</ul>
{% endif %}

