
<!-- jQuery -->
<script src="{{ "/assets/vendor/jquery/jquery.min.js" | prepend: site.baseurl_root }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/vendor/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl_root }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "/assets/js/jqBootstrapValidation.js" | prepend: site.baseurl_root }}"></script>
<script src="{{ "/assets/js/contact_me.js" | prepend: site.baseurl_root }}"></script>

<!-- Theme JavaScript -->
<script src="{{ "/assets/js/clean-blog.min.js" | prepend: site.baseurl_root }}"></script>

