<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>

{% include metas.html %}
<meta name="description" content="{% t page.description  %}">
<title>{{page.title}}</title>
{% include links.html %}
</head>

<body>


   {% include nav.html %}

   <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{% t global.blog-title %}</h1>
                        <hr class="small">
                        <span class="subheading">{% t global.blog-subtitle %}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% assign months = "january|february|march|april|may|june|july|august|september|october|november|december" | split: "|" %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{content}}
            </div>
        </div>
    </div>
    <hr>
    

    {% include footer.html %}
    {% include analitics.html %}
    {% include scripts.html %}
</body>
</html>
