<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
{% include metas.html %}
<meta name="description" content="{{ page.description }}">
<title>{{page.title}}</title>
{% include links.html %}
</head>
<body>



    {% assign months = "january|february|march|april|may|june|july|august|september|october|november|december" | split: "|" %}
   {% include nav.html %}

   {% assign m = page.date | date: "%-m" | minus: 1 %}
    {% assign day = page.date | date: "%d" %}
    {% assign month = months[m] %}
    {% assign year = page.date | date: "%Y" %}


   <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        <h2 class="subheading">{{ page.description }}</h2>
                        <span class="meta">{% t global.posted %} <a href="#">{{ page.author }}</a>
                        {% if site.lang  == 'en'  %}
                          on {% t month %} {{day}}, {{year}}
                        {% else %}
                          em {{day}} de {% t month %}, {{year}}
                        {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-content">
                {{content}}
            </div>
        </div>
    </div>
    <hr>
    

    {% include footer.html %}
    {% include analitics.html %}
    {% include scripts.html %}
</body>
</html>
